.card-container {
  padding: 12px 16px;
  margin-bottom: 12px;
  border-radius: 12px;
  background-color: #ffffff;
  border: 1px solid rgb(224, 229, 224);
  &__content {
    font-weight: 500;
  }
  &:hover {
    cursor: pointer;
  }
}
